.slide_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 8%;
  position: relative;
}

.slide_control {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8%;
  justify-content: space-between;
}

.slide_control button {
  pointer-events: all;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform-origin: center;
  transition: transform 120ms linear;
}

.slide_control button:hover {
  transform: scale(1.2);
}

.slide_inner {
  overflow-x: scroll;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
}

.recommend-storie_card {
  flex-shrink: 0;
  cursor: pointer;
  /* calc by max-width of .slide_inner divide by three */
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.recommend-storie_image-wrapper {
  width: 100%;
  background-color: lightgray;
}

.recommend-storie_image {
  display: block;
  background-color: #3775cf;
  /* border:1px solid black; */
  width: 100%;
  min-height: 200px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.recommend-storie_content {
  padding: 1rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.recommend-storie_headline {
  color: black;
  font-size: 0.75rem;
}

.recommend-storie_title {
  color: black;
  font-size: 1.5rem;
}

.recommend-storie_paragraph {
  color: black;
  font-size: 0.875rem;
}

.other-storie_wrapper {
  border-top: 1px solid lightgray;
  grid-area: other-storie;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.other-storie_card:not(:first-of-type) {
  border-left: 1px solid lightgray;
}

.other-storie_card {
  padding: 1rem;
}

.other-storie_content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

@media only screen and (max-width: 640px) {
  .slide_inner {
    padding-left: 0.6rem;
  }
  .slide_control button {
    transform: scale(1.5);
  }
  .slide_control button:hover {
    transform: scale(1.8);
  }
  .other-storie_wrapper {
    grid-template-columns: 1fr;
  }
  .other-storie_card {
    padding-left: 0;
    padding-right: 0;
  }
  .other-storie_card:not(:first-child) {
    border-top: 1px solid lightgray;
    border-left: unset;
  }
}
