body {
  background-color: #b1d0e0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.main-logo {
  width: min(10vw, 40px);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 2px solid #406882;
}

.logo-wrapper p {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: aqua; */
}

.form-button {
  background-color: white;
  color: black;
  border: none;
  padding: 16px 32px;
  text-align: start;
  font-size: 16px;
}

.form-button:hover {
  background-color: #1a374d;
  color: white;
}
